@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?91248068');
    src: url('./font/fontello.eot?91248068#iefix') format('embedded-opentype'),
        url('./font/fontello.woff?91248068') format('woff'),
        url('./font/fontello.ttf?91248068') format('truetype'),
        url('./font/fontello.svg?91248068#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
    
body {
    background-color: #111;
    color: #aaa;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    
    &.option {
        border: 2px solid #111;
        padding: 6px 8px;
        // margin-bottom: 10px;
    
        &:hover {
            border: 2px solid #FFF;
            color: #FFD700;
        }
    }
    
    &.selected {
        border: 2px solid #FFF;
    }
}

.icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #FFF;
    margin: 0 20px;
     -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
    // flex-grow: 1;
}

.controls {
    margin: 20px;
        
    &__label {
        color: #FFD700;
        float: left;
        width: 80px;
    }
    
    &__group {
        margin-top: 20px;
        display: flex;
    }
    
    &__speed {
        margin-left: 50px; 
    }
}

.bars {
    margin: 10px 20px 0 20px;
    width: 50%;
    // display: flex;
    svg {
        // width: 100%;
        width: 500px;
        // height: 100%;
        rect {
            // height: 13px;
            // fill: #20ADEE;
        }
    }
}

.code {
    // display: flex;
    // float: right;
    width: 50%;
    
    pre {
        display: none;
        height: 450px;
        &.active {
            display: block;
        }
    }
}

.main {
    display: flex;
}